.section_5_wrapper {
    position: relative;

    .shop_image {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.section_5 {
    position: relative;
    margin-bottom: 350px;

    .section5_top {
        h2 {
            font-size: 80px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 115px;
            position: relative;
            transform: translateX(100%);
            transition: 1s;
        }

        span {
            position: absolute;
            left: -190px;
            top: 0;
            font-size: 200px;
            font-weight: 800;
            text-transform: uppercase;
            opacity: 0.02;
        }

        .active_scroll {
            transform: translateX(0%);
        }
    }

    .btn_box {
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        z-index: 10;
        transition: all 1s ease-out;
        margin-top: 80px;
        margin-bottom: 320px;
        position: relative;

        button {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            background: rgb(74, 246, 205);
            margin-left: 20px;
            border: none;
            color: rgb(255, 255, 255);
            padding: 17px;
            padding-right: 60px;
            cursor: pointer;
        }

        svg {
            margin-left: 15px;
            position: absolute;
            left: 195px;
            top: 35px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background: rgba(255, 255, 255, 1);
            left: 120px;
            top: 45px;
        }
    }

    .wrapper_surfbord {
        display: flex;
        align-items: center;
    }

    .surfbord_content {
        margin-right: 200px;

        h4 {
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            opacity: 0.5012;
            margin-bottom: 10px;
        }

        .name_product {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 80px;
        }

        .price {
            font-size: 32px;
            font-weight: 800;
            text-transform: uppercase;
            opacity: 1;
        }
    }

    .surfbord {
        width: 230px;
        height: 695px;
        margin-right: 115px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    .surfboard_accessories {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &>h3 {
            font-size: 28px;
            font-style: normal;
            font-weight: 800;
            line-height: 40px;
            text-transform: uppercase;
            margin-bottom: 23px;
        }
    }

    .wrapper_accessories {
        display: flex;
        gap: 50px;
    }

    .accessory {
        display: flex;
        flex-direction: column;
        align-items: center;

        .box_img_accessory {
            width: 110px;
            height: 110px;

            img {
                width: 100%;
                object-fit: contain;
            }

            margin-bottom: 35px;
        }

        &>h4 {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 8px;
            opacity: 0.5;
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        &>h5 {
            text-align: center;
            font-size: 18px;
            font-weight: 800;
            line-height: 40px;
            text-transform: uppercase;
        }
    }
}

@media(max-width:1200px) {
    .section_5 {
        .surfbord_content {
            margin-right: 50px;
        }
    }
}

@media(max-width:920px) {
    .section_5 {
        .section5_top {
            h2 {
                font-size: 40px;
            }

            span {
                font-size: 100px;
                left: 0px;
                top: 33px;
            }
        }

        .surfbord_content {
            .name_product {
                font-size: 20px;
                margin-bottom: 50px;
            }
        }

        .btn_box {
            h3 {
                font-size: 20px;
                margin-top: 0;
                margin-bottom: 0;
            }

            button {
                font-size: 20px;
            }

            &::after {
                display: none;
            }

            svg {
                left: 120px;
                top: 22px;
            }
        }
    }
}

@media(max-width:840px) {
    .section_5 {
        .wrapper_surfbord {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 80px;
        }
        .btn_box{
            margin-bottom: 0;
        }

        .surfbord {
            width: 150px;
            height: auto;
            margin-right: 0px;
        }
        margin-bottom: 100px;
    }
}