.footer{
    h2{
        font-size: 12px;
            font-weight: 300;
            line-height: 14px;
            letter-spacing: 1.05px;
            text-transform: uppercase;
            opacity: 0.5;
            text-align: center;
            margin-bottom: 35px;
    }
}