.section_4 {
    position: relative;

    .section4_top {
        h2 {
            font-size: 80px;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 115px;
            position: relative;
            transform: translateX(100%);
            transition: 1s;
        }

        span {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 200px;
            font-weight: 800;
            text-transform: uppercase;
            opacity: 0.02;
        }

        .active_scroll {
            transform: translateX(0%);
        }
    }

    .section4_beach_content {
        transform: translateX(-100%);
        transition: 1s;

        h5 {
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 7.333px;
            text-transform: uppercase;
            text-align: end;
            opacity: 0.5012;
            position: relative;
            margin-bottom: 10px;

            &::before {
                content: '';
                position: absolute;
                right: 120px;
                top: 10px;
                opacity: 0.5;
                background: #FFF;
                width: 80px;
                height: 1px;
            }
        }

        h3 {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            text-align: end;
        }

        margin-bottom: 460px;
    }

    .section4_location {
        transform: translateX(100%);
        transition: 1s;
        margin-bottom: 80px;

        h5 {
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 7.333px;
            text-transform: uppercase;
            opacity: 0.5012;
        }

        h4 {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
        }

        div {
            display: flex;
            gap: 26px;

        }
    }

    .data_location {
        display: flex;
        justify-content: space-between;

        div {
            min-width: 260px;
            display: flex;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            letter-spacing: 8px;
            text-transform: uppercase;
            opacity: 0.5;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }

        h3 {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }

    .active_scroll {
        transform: translateX(0%);
    }

    .btn_box {
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: 800;
        text-transform: uppercase;
        z-index: 10;
        transition: all 1s ease-out;
        margin-top: 80px;
        margin-bottom: 320px;
        position: relative;

        button {
            font-size: 40px;
            font-weight: 800;
            text-transform: uppercase;
            background: rgb(74, 246, 205);
            margin-left: 20px;
            border: none;
            color: rgb(255, 255, 255);
            padding: 17px;
            padding-right: 60px;
            cursor: pointer;
        }

        svg {
            margin-left: 15px;
            position: absolute;
            left: 325px;
            top: 35px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background: rgba(255, 255, 255, 1);
            left: 120px;
            top: 45px;
        }
    }
}

.section_4_wrapper {
    position: relative;
    background: url('../../../assets/Travel_Image_Copy.png') left 0px bottom 0px / contain no-repeat;

    .plane {
        position: absolute;
        right: 0;
        top: 550px;
        transform: translateX(100%);
        transition: 1.5s;
    }

    .glass {
        transform: translateX(100%);
        transition: 1s;
        position: absolute;
        right: -200px;
        bottom: 0;
    }

    .active_scroll {
        transform: translateX(0%);
    }
}