* {
    box-sizing: border-box;
}

img{
max-width: 100%;
    height: auto;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: rgba(255, 255, 255, 1);
    background: #171919;
    overflow-x:hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.container {
    margin: 0 auto;
    max-width: 1400px;
    padding: 15px;
}


