.section3 {
    position: relative;
}

.container_slider_section3 {
    margin: 0 auto;
    max-width: 1470px;
    padding: 0 15px;
}

.slider_section3 {
    display: flex;
    position: relative;
    min-height: 850px;
    width: 100vw;
    overflow-x: scroll;
    margin-bottom: 200px;
}