.section2 {
    background: #171919;
    padding-top: 150px;
    position: relative;
    padding-bottom: 1000px;
}

.poi {
    position: absolute;
    right: 0;
    top: 185px;
}

.wrapper_section2 {
    position: relative;

    .background_text_surf {
        position: absolute;
        font-size: 200px;
        font-weight: 800;
        line-height: 156px;
        text-transform: uppercase;
        opacity: 0.02;
        top: 100px;
        left: -120px
    }
}

.h4_location_section2 {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.5012;
    position: relative;
    text-align: end;
    transform: translateX(100%);
    transition: 1s;

    &::before {
        content: '';
        position: absolute;
        display: block;
        width: 80px;
        height: 1px;
        opacity: 0.5;
        right: 300px;
        top: 10px;
        background: rgba(255, 255, 255, 1);
    }
}

.h4_location_section2.active_scroll {
    transform: translateX(0%);
}

.h3_city_section2 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: end;
    transform: translateX(100%);
    transition: 1s;
}

.h3_city_section2.active_scroll {
    transform: translateX(0%);
}

.h2_surf_section2 {
    font-size: 80px;
    font-weight: 800;
    position: relative;
    text-transform: uppercase;
    transform: translateX(-120%);
    transition: 1s;


    &::before {
        content: '';
        position: absolute;
        left: 104px;
        top: 0;
        width: 80px;
        height: 1px;
        display: block;
        background: rgba(74, 246, 205, 1);

    }
}

.h2_surf_section2.active_scroll {
    transform: translateX(0%);
}

.word_map {
    position: relative;

    .map {
        width: 100%;
    }
}